cmon-app-portlet/docroot/wsdl/tracuutthcimpl_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tracuutthc.touchscreen.sharedservice.dtt.vn/" elementFormDefault="unqualified" targetNamespace="http://tracuutthc.touchscreen.sharedservice.dtt.vn/" version="1.0">
<xs:element name="getAllCapCoQuanQuanLy" type="tns:getAllCapCoQuanQuanLy"/>
<xs:element name="getAllCapCoQuanQuanLyResponse" type="tns:getAllCapCoQuanQuanLyResponse"/>
<xs:element name="getCoQuanQuanLyByIdCapCoQuan" type="tns:getCoQuanQuanLyByIdCapCoQuan"/>
<xs:element name="getCoQuanQuanLyByIdCapCoQuanResponse" type="tns:getCoQuanQuanLyByIdCapCoQuanResponse"/>
<xs:element name="getNhomTTHCByIdCoQuan" type="tns:getNhomTTHCByIdCoQuan"/>
<xs:element name="getNhomTTHCByIdCoQuanResponse" type="tns:getNhomTTHCByIdCoQuanResponse"/>
<xs:element name="getTTHCByIdNhomTTHC" type="tns:getTTHCByIdNhomTTHC"/>
<xs:element name="getTTHCByIdNhomTTHCResponse" type="tns:getTTHCByIdNhomTTHCResponse"/>
<xs:element name="getTTHCByIdTTHC" type="tns:getTTHCByIdTTHC"/>
<xs:element name="getTTHCByIdTTHCResponse" type="tns:getTTHCByIdTTHCResponse"/>
<xs:complexType name="getTTHCByIdNhomTTHC">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
      <xs:element minOccurs="0" name="arg1" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTTHCByIdNhomTTHCResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:thuTucHanhChinhSoap"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="thuTucHanhChinhSoap">
    <xs:sequence>
      <xs:element minOccurs="0" name="cachThucHien" type="xs:string"/>
      <xs:element minOccurs="0" name="canCuPhapLy" type="xs:string"/>
      <xs:element name="canTichHop" type="xs:int"/>
      <xs:element minOccurs="0" name="capCoQuanQuanLyId" type="xs:long"/>
      <xs:element name="daXoa" type="xs:int"/>
      <xs:element minOccurs="0" name="donViLePhi" type="xs:string"/>
      <xs:element minOccurs="0" name="donViPhi" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="lePhi" type="xs:long"/>
      <xs:element minOccurs="0" name="linhVucThucHien" type="xs:string"/>
      <xs:element minOccurs="0" name="ma" type="xs:string"/>
      <xs:element minOccurs="0" name="maDNG" type="xs:string"/>
      <xs:element minOccurs="0" name="ngaySua" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ngayTao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nguoiSua" type="xs:string"/>
      <xs:element minOccurs="0" name="nguoiTao" type="xs:string"/>
      <xs:element name="nhomThuTucHanhChinhId" type="xs:long"/>
      <xs:element name="phi" type="xs:long"/>
      <xs:element name="phienBan" type="xs:long"/>
      <xs:element name="primaryKey" type="xs:long"/>
      <xs:element name="soNgayXuLy" type="xs:long"/>
      <xs:element minOccurs="0" name="ten" type="xs:string"/>
      <xs:element minOccurs="0" name="tenMauDonToKhai" type="xs:string"/>
      <xs:element minOccurs="0" name="thanhPhanHoSo" type="xs:string"/>
      <xs:element minOccurs="0" name="thuTucLienThongId" type="xs:long"/>
      <xs:element name="trangThai" type="xs:int"/>
      <xs:element minOccurs="0" name="trinhTuThucHien" type="xs:string"/>
      <xs:element minOccurs="0" name="uengineProcessName" type="xs:string"/>
      <xs:element minOccurs="0" name="yeuCauDieuKienThucHien" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getCoQuanQuanLyByIdCapCoQuan">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getCoQuanQuanLyByIdCapCoQuanResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:coQuanQuanLySoap"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="coQuanQuanLySoap">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessCode" type="xs:string"/>
      <xs:element minOccurs="0" name="capCoQuanQuanlyId" type="xs:long"/>
      <xs:element minOccurs="0" name="chaId" type="xs:long"/>
      <xs:element name="daXoa" type="xs:int"/>
      <xs:element minOccurs="0" name="diaChi" type="xs:string"/>
      <xs:element minOccurs="0" name="dienThoai" type="xs:string"/>
      <xs:element minOccurs="0" name="donViHanhChinhId" type="xs:long"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="fax" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="ma" type="xs:string"/>
      <xs:element minOccurs="0" name="maCapSoBienNhan" type="xs:string"/>
      <xs:element minOccurs="0" name="merchant" type="xs:string"/>
      <xs:element minOccurs="0" name="ngaySua" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ngayTao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nguoiSua" type="xs:string"/>
      <xs:element minOccurs="0" name="nguoiTao" type="xs:string"/>
      <xs:element name="noiBo" type="xs:int"/>
      <xs:element name="phienBan" type="xs:long"/>
      <xs:element name="primaryKey" type="xs:long"/>
      <xs:element minOccurs="0" name="secureSecret" type="xs:string"/>
      <xs:element minOccurs="0" name="ten" type="xs:string"/>
      <xs:element minOccurs="0" name="website" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTTHCByIdTTHC">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTTHCByIdTTHCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:traCuuThuTucHanhChinhSoap"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="traCuuThuTucHanhChinhSoap">
    <xs:sequence>
      <xs:element minOccurs="0" name="cachThucHien" type="xs:string"/>
      <xs:element minOccurs="0" name="canCuPhapLy" type="xs:string"/>
      <xs:element name="canTichHop" type="xs:int"/>
      <xs:element minOccurs="0" name="capCoQuanQuanLyId" type="xs:long"/>
      <xs:element name="daXoa" type="xs:int"/>
      <xs:element minOccurs="0" name="donViLePhi" type="xs:string"/>
      <xs:element minOccurs="0" name="donViPhi" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="lePhi" type="xs:long"/>
      <xs:element minOccurs="0" name="linhVucThucHien" type="xs:string"/>
      <xs:element minOccurs="0" name="ma" type="xs:string"/>
      <xs:element minOccurs="0" name="maDNG" type="xs:string"/>
      <xs:element minOccurs="0" name="ngaySua" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ngayTao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nguoiSua" type="xs:string"/>
      <xs:element minOccurs="0" name="nguoiTao" type="xs:string"/>
      <xs:element name="nhomThuTucHanhChinhId" type="xs:long"/>
      <xs:element minOccurs="0" name="nhomThuTucHanhChinhTen" type="xs:string"/>
      <xs:element name="phi" type="xs:long"/>
      <xs:element name="phienBan" type="xs:long"/>
      <xs:element name="primaryKey" type="xs:long"/>
      <xs:element name="soNgayXuLy" type="xs:long"/>
      <xs:element minOccurs="0" name="ten" type="xs:string"/>
      <xs:element minOccurs="0" name="tenMauDonToKhai" type="xs:string"/>
      <xs:element minOccurs="0" name="thanhPhanHoSo" type="xs:string"/>
      <xs:element minOccurs="0" name="thuTucLienThongId" type="xs:long"/>
      <xs:element name="trangThai" type="xs:int"/>
      <xs:element minOccurs="0" name="trinhTuThucHien" type="xs:string"/>
      <xs:element minOccurs="0" name="uengineProcessName" type="xs:string"/>
      <xs:element minOccurs="0" name="yeuCauDieuKienThucHien" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getNhomTTHCByIdCoQuan">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getNhomTTHCByIdCoQuanResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:nhomThuTucHanhChinhSoap"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="nhomThuTucHanhChinhSoap">
    <xs:sequence>
      <xs:element name="daXoa" type="xs:int"/>
      <xs:element name="danhMucUngDungId" type="xs:long"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="ma" type="xs:string"/>
      <xs:element minOccurs="0" name="ngaySua" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ngayTao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nguoiSua" type="xs:string"/>
      <xs:element minOccurs="0" name="nguoiTao" type="xs:string"/>
      <xs:element name="phienBan" type="xs:long"/>
      <xs:element name="primaryKey" type="xs:long"/>
      <xs:element minOccurs="0" name="ten" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllCapCoQuanQuanLy">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllCapCoQuanQuanLyResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:capCoQuanQuanLySoap"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="capCoQuanQuanLySoap">
    <xs:sequence>
      <xs:element name="cap" type="xs:long"/>
      <xs:element minOccurs="0" name="chaId" type="xs:long"/>
      <xs:element name="daXoa" type="xs:int"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="ma" type="xs:string"/>
      <xs:element minOccurs="0" name="ngaySua" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ngayTao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nguoiSua" type="xs:string"/>
      <xs:element minOccurs="0" name="nguoiTao" type="xs:string"/>
      <xs:element name="phienBan" type="xs:int"/>
      <xs:element name="primaryKey" type="xs:long"/>
      <xs:element minOccurs="0" name="ten" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
